*{
  background-color: rgb(220,220,240);
  font-family: Verdana;
}

.page-top .left-circle {
  float: left; 
  border-radius: 50%;
  height: 15em;
  width: 15em;
  min-height: 75px;
  min-width: 75px;
}

.page-top .right-circle {
  float: right;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  min-height: 75px;
  min-width: 75px;
}

.page-top .name{
  display: fixed;
  text-align: center;
  padding-top: 30px;
  font-size: 5em;
  font-family: Verdana;
}

.page-top .links{
  clear: both;
  text-align: center;
}

ul{
  padding: .5em;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid black;
  border-radius: 1.5em;
  padding: 1.5em;
  margin-top: 1.5em;
}

.subtitle{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 200%;
}

.minititle{
  font-size: 1.7em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.box-body{
  margin: 1em;
  font-size: 110%;
  text-align: left;
}

.btn {
  background-color: rgb(180, 180, 190);
  color: black;
  margin: .5em;
}
 .buttons a:hover {
    background-color: grey;
    color: beige;
}

.col-centered{
    text-align: center;
}

footer{
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}  
